@*this is patial view used to be used in defferent view in the same 
    folder rether than reapeting the code
*@

@model MVC_1.Models.Employee

<h1>@Model.Name</h1>

<h1>@Model.Department</h1>

<h1>@Model.Address</h1>