@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!---RenderBody->

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<!---RenderSection->
@section HeaderSection{
   <h3>Msg from view to Head Section</h3>
}

@section FooterSection{
    <h3>Msg from view to Footer Section</h3>
}